{% extends 'movies/base_layout.html' %}

{% block layout_block %}

<div class="container">

      <form method="post" action="{% url 'movie-update' movie.id %}">
                {% csrf_token %}
                {{form.as_p}}

                <button type="submit" class="btn btn-primary">Submit</button>
                <div class="text-center mt-5" style="display:inline">
                    <a href="{% url 'movie-index'  %}">
                        <button type="button" class="btn btn-info">
                            Back to list
                        </button>
                    </a>
                </div>
            </form>




</div>

{% endblock %}